@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    user-select: none;
}

/* .amp{
    align-items: flex-end;
} */

#navbar {
    font-family: "Poppins", sans-serif;
}

#orbitaustralia {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#orbitaustralia:hover {
    color: #00acdc;
}

a aside {
    display: inline;
    font-weight: 600;
}

.div-up {
    background: url(./graphics/div-up.png);
}

.div-down {
    background: url(./graphics/div-down.png);
}

.div-up,
.div-down {
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    margin: auto;
    height: 2.5vw;
}

body h3 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: calc(25px + 2vw);
    color: #00acdc;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    color: #fdb813;
    text-align: center;
}

div.no-padding-top {
    padding-top: 0;
}

#pollen {
    width: 50%;
}

#health {
    width: 50%;
}

#sid {
    color: #00acdc;
    font-weight: 400;
}

article#1,
article#2,
article#3 {
    width: 33.33%;
}

article#4,
article#5,
article#6,
article#7 {
    width: 25%;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h4#membername {
    font-family: "Poppins", sans-serif;
    color: #757575;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}

h5#memberdesc {
    color: #757575;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.foot {
    font-weight: 300;
    font-size: 100%;
}

#applink {
    width: 50%;
    text-align: center;
    color: #858585;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#applinktext {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    margin-top: 0.5vw;
}

#applinkdescription {
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
}

#gap1 {
    height: calc(0.5vw + 2px);
    max-height: 8px;
}

#gap2 {
    height: calc(0.5vw + 5px);
    max-height: 11px;
}

#badge img {
    height: calc(35px + 1.5vw);
    max-height: 53px;
}

#appimg {
    width: 50%;
    min-height: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;
}

#phones {
    background: url("../src/graphics/phones-with-airli.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
}

@media only screen and (max-width: 400px) {
    #phones {
        background-position: center;
    }

    #badge img {
        height: 10vw;
    }
}

#footnote {
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    color: #757575;
}

.banner {
    max-width: 100vw;
}

.nav {
    background: transparent;
}

.nav-active {
    opacity: 92%;
    background: white;
    color: black;
    box-shadow: 0px calc(0.06vw + 1px) calc(0.4vw + 4px) rgba(0, 0, 0, 0.25);
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #fdb813;
    cursor: pointer;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav {
    padding: 20px;
}

@media (max-width: 960px) {
    .nav-expand {
        background: white;
        height: 100vh;
        align-items: start;
        align-content: start;
        align-items: start;
        align-content: start;
    }

    .nav-expand .nav-link {
        color: black;
    }
    .nav-active-expand {
        background: black;
        color: white;
        height: 100vh;
        align-items: start;
        align-content: start;
    }
}

.container {
    padding-top: 20px;
}
